@font-face {
    font-family: BlackAndWhitePicture-Regular;
    src: url(../fonts/Black_And_White_picture/BlackAndWhitePicture-Regular.ttf);
}

@font-face {
    font-family: Gaegu-Bold;
    src: url(../fonts/Gaegu/Gaegu-Bold.ttf);
}

@font-face {
    font-family: Gaegu-Light;
    src: url(../fonts/Gaegu/Gaegu-Light.ttf);
}

@font-face {
    font-family: Gaegu-Regular;
    src: url(../fonts/Gaegu/Gaegu-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

/*----header----*/
header {
    width: 100%;
    height: 95px;
    background-color: #DAB991;
}

header > div:nth-child(1) {
    margin: 54px 0 0 5px;
    float: left;
    display: none;
}

header > div:nth-child(2) {
    width: 215px;
    height: 75px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header_login {
    font-family: "Gaegu-Regular";
    font-weight: bold;
    margin: 54px 5px 0 0;
    float: right;
    display: none;
}
.header_login{
        margin-top: 75px;
        margin-right: 35%;

    }

.header_login ul li {
    padding: 0 10px 0 10px;
    border-right: 1px solid #b08d61;
    display: inline-block;
}

.header_login ul li a {
    color: #4d3c26;
    text-decoration: none;
}

/*----header----*/

/*----nav----*/
nav {
    font-family: "Gaegu-Regular";
    font-size: 150%;
    font-weight: bold;
    background-color: #b08d61;
    height: 80px;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
    width: 16.2%;
    text-align: center;
    margin-right: -6px;
    padding: 30px 0 30px 0;
}
nav{
        height: auto;
        background-image: url(/img/aluminous-749358_1920.jpg);
        background-size: 950px;
        background-repeat: no-repeat;
    }

.header_onetext{
        display: none;
    }
    .header_login{
        margin-top: 75px;
        margin-right: 35%;

    }
    nav ul li {
    display: block;
    width: 100%;
    text-align: center;
    margin-right: -6px;
    padding: 30px 0 30px 0;
    background-color: black;
    opacity: 0.7;

}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li:hover {
    background-color: rgb(72,74,61);
     opacity: 1;
}
nav ul li:hover a{
    color: white;
}
/*----nav----*/

/*----footer----*/
footer {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: rgb(72, 74, 61);
}

footer > div {
    height: 60px;
    margin-top: 0px; /*바디부분이랑 띄워져 있길래 추가합니다.*/
}

footer > div img {
    width: 40px;
    height: 40px;
    margin: 17px;
}

footer ul li {
    font-family: "Gaegu-Regular";
    font-size: 1em;
    height: 10px;
    ;
    color: white;
    display: inline-block;
    padding: 0 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-right: 1px solid white;

}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer p {
    font-family: "Gaegu-Regular";
    color: white;
}

/*----footer----*/

section {
    width: 100%;
    padding: 50px 0;
    margin: 0 auto;
    background-color: rgb(229, 220, 203);
}

table {
    width: 100%;
    border-collapse: separate;
    text-align: center;
    border: 3px solid #4d3c26;
    border-right: none;
    border-left: none;
}

th,
td {
    border: 1px solid rgb(193, 154, 10);
    padding: 5px 0;
}

th {
    background-color: #DAB991;
    font-family: "Gaegu-Bold";
    font-size: 30px;
}

td {
    font-family: "Gaegu-Regular";
    font-size: 20px;
}

div {
    margin: 10px 0;
}

section> img {
    background-color: white;
}

#toptitle{
    clear: right;
}

#toptitle > h1 {
    font-family: "BlackAndWhitePicture-Regular";
    color: #4d3c26;
}

.line {
    border: 3px solid #4d3c26;
    background-color: #4d3c26;
}

.nametitle > h1 {
    text-align: center;
    font-size: 50px;
    font-family: "BlackAndWhitePicture-Regular";
    color: #4d3c26;
    margin-top: 50px;
}

.nametitle > h3 {
    text-align: center;
    font-size: 25px;
    font-family: "Gaegu-Light";
}

.caution {
    clear: left;
    margin: 30px auto;
    background: #DAB991;
    padding: 10px;
}

.caution > h1 {
    font-family: "Gaegu-Bold";
    font-size: 30px;
    color: red;
}

p{
    font-family: "Gaegu-Regular";
}
#allergynav {
    width: 170px;
    height: 50px;
    float: right;
    background-color: #DAB991;
    border-radius: 15px;
    padding: 0 10px;
    margin: 0;
}

#allergynav:hover{
    transform: scale(1.1);
    transition: 0.1s;
}

#allergynav > a {
    font-family: "Gaegu-Bold";
    font-size: 40px;
    text-decoration: none;
    color: #4d3c26;
}
