@font-face {
    font-family: BlackAndWhitePicture-Regular;
    src: url(../fonts/Black_And_White_picture/BlackAndWhitePicture-Regular.ttf);
}

@font-face {
    font-family: Gaegu-Bold;
    src: url(../fonts/Gaegu/Gaegu-Bold.ttf);
}

@font-face {
    font-family: Gaegu-Light;
    src: url(../fonts/Gaegu/Gaegu-Light.ttf);
}

@font-face {
    font-family: Gaegu-Regular;
    src: url(../fonts/Gaegu/Gaegu-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

/*----header----*/
header {
    width: 100%;
    height: 95px;
    background-color: #DAB991;
}

header > div:nth-child(1) {
    margin: 54px 0 0 5px;
    float: left;
}

header > div:nth-child(2) {
    width: 215px;
    height: 75px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header_login {
    font-family: "Gaegu-Regular";
    font-weight: bold;
    margin: 54px 5px 0 0;
    float: right;
}

.header_login ul {}

.header_login ul li {
    padding: 0 10px 0 10px;
    border-right: 1px solid #b08d61;
    display: inline-block;
}

.header_login ul li a {
    color: #4d3c26;
    text-decoration: none;
}

/*----header----*/

/*----nav----*/
nav {
    font-family: "Gaegu-Regular";
    font-size: 150%;
    font-weight: bold;
    background-color: #b08d61;
    height: 80px;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
    width: 16.3%;
    text-align: center;
    margin-right: -6px;
    padding: 30px 0 30px 0;
}

nav ul li a {
    text-decoration: none;
    color: #4d3c26;
}
nav ul li:hover {
    background-color: rgb(72,74,61);
}
nav ul li:hover a{
    color: white;
}


/*----nav----*/

/*----footer----*/
footer {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: rgb(72, 74, 61);
}

footer > div {
    height: 60px;
}

footer > div img {
    width: 40px;
    height: 40px;
    margin: 17px;
}

footer ul li {
    font-family: "Gaegu-Regular";
    font-size: 1em;
    height: 10px;
    ;
    color: white;
    display: inline-block;
    padding: 0 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-right: 1px solid white;

}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer p {
    font-family: "Gaegu-Regular";
    color: white;
}

/*----footer----*/

#foodsection {
    width: 1140px;
    height: 4200px;
    padding: 50px 70px;
    margin: 0 auto;
    background-color: rgb(229, 220, 203);
}

#drinksection {
    width: 1140px;
    height: 1300px;
    padding: 50px 70px;
    margin: 0 auto;
    background-color: rgb(229, 220, 203);
}

.sectioninner {
    width: inherit;
    height: inherit;
}

section div {
    margin-bottom: 20px;
}

section ul li{
    list-style: none;
    line-height: 1;
}

.line {
    border: 3px solid #4d3c26;
    background-color: #4d3c26;
}

#toptitle{
    clear: right;
}

#toptitle > h1 {
    font-family: "BlackAndWhitePicture-Regular";
    color: #4d3c26;
}

#foodmainimg {
    /*지울것*/
    width: inherit;
    height: 600px;
}

#foodmainimg > img {
    width: inherit;
    height: 600px;
}

.nametitle > h1 {
    text-align: center;
    font-size: 50px;
    font-family: "BlackAndWhitePicture-Regular";
    color: #4d3c26;
}

/*        음식 시작*/
.foodbox {
    width: 550px;
    height: 635px;
    float: left;
    margin: 20px 10px;
}

.foodboximg img {
    /*음식 이미지 크기 조정*/
    width: 550px;
    height: 455px;
}

.foodboxtext {
    background-color: #4d3c26;
    width: 550px;
    height: 455px;
    display: none;
    opacity: 0.7;
    color: white;
    position: absolute;
    z-index: 2;
}

.foodboxtext > h1 {
    font-family: "Gaegu-Bold";
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    margin: 80px 0 80px 0;
}

.foodboxtext > h2 {
    font-family: "Gaegu-Light";
    font-size: 30px;
    text-align: center;
    margin: 40px 0 40px 0;
}

.foodboxtext > div {
    border: 5px solid white;
    width: 300px;
    margin: 0 auto;
}

.foodboxtext > div > p {
    font-family: "Gaegu-Regular";
    font-size: 40px;
    text-align: center;
}

.foodboxundertext {
    width: inherit;
    height: 180px;
    background-color: #DAB991;
    z-index: 1;
    font-size: 20px;
    text-align: center;
}

.boxundertextname {
    font-family: "GaeGu-Bold";
    font-size: 40px;
    text-decoration: none;
    color: darkgoldenrod;
}

.foodboxundertext > h2 {
    font-family: "Gaegu-Light";
    font-size: 30px;
    padding: 0 10px;
    margin: 20px;
}

.foodboxundertext > p {
    font-family: "Gaegu-Regular";
    font-size: 25px;
    padding: 0 10px;
}

/*마실음료 css시작*/
.drinkbox {
    width: 260px;
    height: 520px;
    margin: 10px;
    float: left;
    position: relative;
    z-index: 1;
}

.drinkboximg img {
    width: 260px;
    height: 400px;
}

.drinkboxtext {
    background-color: #4d3c26;
    color: white;
    width: 260px;
    height: 400px;
    display: none;
    opacity: 0.7;
    position: absolute;
    z-index: 2;
}

.drinkboxtext > h1 {
    font-family: "Gaegu-Bold";
    font-size: 40px;
    text-align: center;
    margin: 60px 0 60px 0;
}

.drinkunderboxtext {
    width: 260px;
    text-align: center;
    z-index: 1;
    font-size: 20px;
}

.drinkunderboxtext > h2 {
    color: firebrick;

}

.drinkpricebox {
    width: 560px;
    height: 520px;
    margin: 10px 0 10px 10px;
    float: left;
}

.drinkpricebox > table {
    width: inherit;
    height: inherit;
    border-collapse: separate;
    text-align: center;
    border: 3px solid #4d3c26;
}

.drinkpricebox th,
.drinkpricebox td {
    border: 1px solid darkgoldenrod;
    padding: 5px 0;
}

.drinkpricebox th {
    background-color: #DAB991;
    font-family: "Gaegu-Bold";
    font-size: 30px;
}

.drinkpricebox td {
    font-family: "Gaegu-Light";
    font-size: 25px;
}

#caution {
    width: 650px;
    height: 100px;
    clear: left;
    margin: 0 auto;
    font-size: 25px;
    background-color: #DAB991;
    padding: 20px;
    border-radius: 20px;
}

/*        test중*/
.shape {
    stroke-dasharray: 0;
    /*각 꼭지점을 기준으로 시작하는 길이 */
    stroke: none;
    /* 돌아가는 색상*/
    transition: stroke-dashoffseet 1s, stroke-dasharray 1s;
    fill: transparent;
    /* svg값의 배경값을 가져온다.*/
}

.foodsvg {
    position: absolute;
    z-index: 3;
}

.foodsvg > svg:hover .shape {
    stroke-width: 10px;
    stroke-dashoffset: 0;
    /* 왼쪽위를 기준으로 역시계방향으로 끝날때의 표현하지 않을 총길이*/
    stroke-dasharray: 2370px;
    /* 왼쪽위를 기준으로 시게방향으로 시작하여 표현할 총변의 길이*/
    /* 도형의 총 변의 길이 만큼 이펙트로 채워짐*/
    stroke: darkgoldenrod;
    position: relative;
    z-index: 3;
}

.drinksvg {
    position: absolute;
    z-index: 3;
}

.drinksvg > svg:hover .shape {
    stroke-width: 10px;
    stroke-dashoffset: 0;
   /* 왼쪽위를 기준으로 역시계방향으로 끝날때의 표현하지 않을 총길이*//
    stroke-dasharray: 1570px;
    /* 왼쪽위를 기준으로 시게방향으로 시작하여 표현할 총변의 길이*/
    /* 도형의 총 변의 길이 만큼 이펙트로 채워짐*/
    stroke: darkgoldenrod;
    position: relative;
    z-index: 3;
}

#allergynav {
    width: 170px;
    height: 50px;
    float: right;
    background-color: #DAB991;
    border-radius: 15px;
    padding: 0 10px;
    margin: 0;
}

#allergynav:hover{
    transform: scale(1.1);
    transition: 0.1s;
}

#allergynav > a {
    font-family: "Gaegu-Bold";
    font-size: 40px;
    text-decoration: none;
    color: #4d3c26;
}

