*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
#wrap{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 95px;
    background-color: #DAB991;
}
header>div:nth-child(1){
    margin: 54px 0 0 5px;
    float: left;
}
header>div:nth-child(2){
    width: 215px;
    height: 75px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header>div:nth-child(3){
    margin: 54px 5px 0 0;
    float: right;
    display: inline-block;
}
header>div:nth-child(3) table{
    border-collapse: collapse;
}
header>div:nth-child(3) table tr td{
 padding: 0 10px 0 10px;
}
nav{
    background-color: #b08d61;
    height: 80px;
}
nav ul li{
    display: inline-block;
    width: 16.6%;
    text-align: center;
    margin-right: -5px;
    padding: 30px 0 30px 0;
}
body{
    background-color: rgb(248,242,228);

}


#di{
       margin-left:70px;
    margin-right:70px;
    padding-top: 20px;
      background-color: rgb(248,242,228);
}

.box{

    width:92.7%;
    height:50px;
    font-family: "Gaegu Regular";
    font-size:30px;
    color:#DAB991;
    position:absolute;
    top:770px;
    background-color:#b08d61;
}


.h3{
    font-family: "Gaegu Regular";
    color:rgb(72,74,61);
    font-size:30px;
    font-weight:bolder;
}
.line{
    width:100%;
    height:5px;
    border-top:2px solid rgb(72,74,61);
    position:relative;
    left:0px;

}

.i1{
    width:100%;
    height:400px;
}
.p1{
    width:100%;
    height:80px;
    font-family: "Gaegu Regular";
    position:absolute;
    top:675px;
    left:00px;
    color:white;
    font-size:30px;
    text-align: center;

}
table{
    width:900px;    /*테이블로 인해 메인 배치가 이상하게 엉킴 수정 요망*/
    height:300px;
    border:1px solid silver;
    border-collapse: collapse;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top:2px solid #b08d61;
    border-bottom:2px dotted #b08d61;
    position: relative;
    left: 20px;
    top:50px;

}
th{
    border-bottom:2px dotted #b08d61;
    border-right: 2px solid #b08d61;
    background-color: antiquewhite;

}
td{
    border:1px solid #b08d61;
    border-left: none;


}
.th1,.td1,.td2,.td3{
    border-right: none;
}

.pr2{
    padding-top: 20px;
    color:red;

}
.s1{
    width:100%;
    height:300px;
    padding-left: 20px;
    position: relative;
    top:50px;
}
.s2{
    padding-left: 20px;
    position: relative;
    top:0px;
}
.s2 ul{
    padding-left: 20px;

}
.s2 li{
    padding-bottom: 20px;

}
.h33,.h34{
    padding-left:20px;
    padding-bottom: 20px;
    padding-top: 70px;
    font-family: "Gaegu Regular";
    font-weight: 800;
    font-size:30px;
    text-decoration: underline;
    color:rgb(72,74,61);
}

footer{
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: rgb(72,74,61);
}
footer>div{
    height: 60px;
}
footer>div img{
    margin-top: 17px;
    width: 70px;
    height: 45px;
    background-color: white;
}
footer ul li{
    font-size: 0.5em;
    height: 10px;;
    color: white;
    display: inline-block;
    padding: 0 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-right: 1px solid white;

}
footer p{
    color:white;
}







