*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
#wrap{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
/*----header----*/
header{
    width: 100%;
    height: 95px;
    background-color: #DAB991;
}
header>div:nth-child(1){
    margin: 54px 0 0 5px;
    float: left;
}
header>div:nth-child(2){
    width: 215px;
    height: 75px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header>div:nth-child(3){
    margin: 54px 5px 0 0;
    float: right;
    display: inline-block;
}
header>div:nth-child(3) table{
    border-collapse: collapse;
}
header>div:nth-child(3) table tr td{
 padding: 0 10px 0 10px;
}
/*----header----*/

/*----nav----*/
nav{
    background-color: #b08d61;
    height: 80px;
}
nav ul li{
    display: inline-block;
    width: 16.6%;
    text-align: center;
    margin-right: -5px;
    padding: 30px 0 30px 0;
}
/*----nav----*/

#three_part{
    background-color: #b08d61;
    width: 1280px;
    height: 1850px;
    position: relative;
    margin: 0 auto;
}

/*----main_img----*/
#main_img{
    width: 100%;
    height: 580px;
}
#main_img>div:nth-child(1){
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 580px;
    text-align: center;
}
#main_img .left_black_box{
    position: absolute;
    width: 23%;
    height: 580px;
    background-color: rgba(0,0,0,0.3);
}
#main_img .left_black_box>img{
    width: 90%;
    height: 29.4%;
    margin: 10px 5%;
    background-color: white;
}

/*----slide_img----*/
#slide_img{
    width: 95%;
    margin: 30px;
    height: 730px;
}
/*----slide_img----*/

/*----card----*/
#card{
    width: 95%;
    margin: 30px 30px 0 30px;
    height: 445px;
    background-color: #f8f2e4;

}
#card div:nth-child(1){
    width: 44.9%;
    height: 385px;
    padding: 30px;
    float: left;
    border-right: 2px solid #b08d61;
}
#card div:nth-child(2){
    width: 44.9%;
    height: 385px;
    padding: 30px;
    float: left;
}
/*----card----*/
/*----footer----*/
footer{
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: rgb(72,74,61);
}
footer>div{
    height: 60px;
}
