*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
body{
    width: 100%;
}
#wrap{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
/*----header----*/
header{
    width: 100%;
    height: 95px;
    background-color: #DAB991;
}
header>div:nth-child(1){
    margin: 54px 0 0 5px;
    float: left;
}
header>div:nth-child(2){
    width: 215px;
    height: 75px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header_login{
    font-family: "Gaegu Regular";
    font-weight: bold;
    margin: 54px 5px 0 0;
    float: right;
}
.header_login ul{

}
.header_login ul li{
    padding: 0 10px 0 10px;
    border-right: 1px solid #b08d61;
    display: inline-block;
}

/*----header----*/

/*----nav----*/
nav{
    font-family: "Gaegu Regular";
    font-size: 1.5em;
    font-weight: bold;
    background-color: #b08d61;
    height: 80px;
}
nav ul li{
    display: inline-block;
    width: 16.2%;
    text-align: center;
    margin-right: -6px;
    padding: 30px 0 30px 0;
}
/*----nav----*/

#three_part{
    background-color: #b08d61;
    width: 1280px;
    height: 1850px;
    position: relative;
    margin: 0 auto;
}

/*----main_img----*/
#main_img{
    width: 100%;
    height: 580px;
}
#main_img img{
    height: 580px;
}
#main_img>div:nth-child(1){
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 580px;
    text-align: center;
}
#main_img .left_black_box{
    position: absolute;
    width: 23%;
    height: 580px;
    background-color: rgba(0,0,0,0.7);
}
#main_img .left_black_box>img{
    width: 90%;
    height: 29.4%;
    margin: 10px 5%;
    background-color: white;
}

/*----slide_img----*/
#slide_img{
    width: 95%;
    margin: 30px;
    height: 730px;
    position: relative;
    z-index: 3;
}
#slide_img .slide_button img{
    width: 120px;
}
#slide_img .slide_button img:nth-child(1){
    float: left;
}
#slide_img .slide_button img:nth-child(2){
    float: right;
}
/*----slide_img----*/

/*----card----*/
#card{
    width: 95%;
    margin: 30px 30px 0 30px;
    height: 445px;
    background-color: #f8f2e4;

}
.card_left{
    clear: both;
    position: absolute;
}
#card .card_left h2{
    color: #4d3c26;
    font-family: "Black And White Picture";
    font-size: 2.7em;
    margin-bottom: 20px;
}
#card .card_left h4{
    font-family: "Gaegu";
    font-size: 1.6em;
    color: rgb(160,76,30);
    text-decoration: underline;
    padding-top: 30px;
    padding-bottom: 30px;
}
#card .card_left h3{
    color: #4d3c26;
    font-family: "Black And White Picture";
    font-size: 1.8em;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
}
.card_left img{
    width : 30px;
    margin-left: 20px;
}

.card_left{
    width: 44.9%;
    height: 385px;
    margin-left: 30px;
    padding: 30px 0 30px 30px;
    float: left;
    border-right: 2px solid #b08d61;
}
.card_right{
    width: 40.9%;
    height: 385px;
    padding: 30px;
    position: absolute;
    right: 2.5%;
}
#card div:nth-child(2) .button{
    margin-left: 230px;
    height: 11px;
}
#card div:nth-child(2) div>img{
    width: 11px;
    height: 11px;
    display: inline-block;
}
/*----card----*/
/*----footer----*/
footer{
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: rgb(72,74,61);
}
footer>div{
    height: 60px;
}
footer>div img{
    margin-top: 17px;
    width: 70px;
    height: 45px;
    background-color: white;
}
footer ul li{
    font-family: "Gaegu Regular";
    font-size: 1em;
    height: 10px;;
    color: white;
    display: inline-block;
    padding: 0 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-right: 1px solid white;

}
footer p{
    font-family: "Gaegu Regular";
    color:white;
}

.slide_button {
    position: relative;
    z-index: 1;
    bottom: 400px
}
