*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
#wrap{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
/*----header----*/
header{
    width: 100%;
    height: 95px;
    background-color: #DAB991;
}
header>div:nth-child(1){
    margin: 54px 0 0 5px;
    float: left;
}
header>div:nth-child(2){
    width: 215px;
    height: 75px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header_login{
    font-family: "Gaegu Regular";
    font-weight: bold;
    margin: 54px 5px 0 0;
    float: right;
}
.header_login ul{

}
.header_login ul li{
    padding: 0 10px 0 10px;
    border-right: 1px solid #b08d61;
    display: inline-block;
}
.header_login ul li a{
   color:  #4d3c26;
    text-decoration: none;
}
}
.header_login ul li{
    padding: 0 10px 0 10px;
    border-right: 1px solid #b08d61;
    display: inline-block;
}
.header_login ul li a{
   color:  #4d3c26;
    text-decoration: none;
}
/*----header----*/

/*----nav----*/
nav{
    font-family: "Gaegu Regular";
    font-size: 1.5em;
    font-weight: bold;
    background-color: #b08d61;
    height: 80px;
}
nav ul li{
    display: inline-block;
    width: 16.3%;
    text-align: center;
    margin-right: -6px;
    padding: 30px 0 30px 0;
}
nav ul li a{
    text-decoration: none;
    color: #4d3c26;
}
/*----nav----*/

.hometag{
    width:200px;
    height:auto;
    float:right;
    display: inline-block;
    position:relative;
    top:-25px;
    right:-50px;
    font-family:"Black And White Picture";
    color:#b08d61;
}


div{

    padding-top: 20px;

}
.h3{
    font-family: "Black And White Picture";
    color:rgb(72,74,61);
    font-size:30px;
    font-weight:bolder;
    padding-left:10px;
}
.h1{
    color:rgb(72,74,61);
    font-size:40px;


}
.h32{
    text-decoration: underline;
    font-size:30px;

}
}
h4{
    position: absolute;
   left:20px;
    top:48px;

}

body{
    width:100%;

}


section{
    text-align: center;
    text-decoration: none;
    font-family: "Gaegu Regular";

    color:#DAB991;
}

body div .l{
    position:relative;
    top:120px;
    text-align: left;
    font-size:30px;

    height:700px;
    border-right: 2px solid #b08d61;
    width:640px;
    padding-left:10px;

}
body div .l2{
    position:relative;
    top:400px;
    text-align: left;
    font-size:30px;

    height:700px;
    border-right: 2px solid #b08d61;
    width:640px;
padding-left:10px;
}





body div .r{
    position:relative;
    top:-700px;
    left:650px;
    height:400px;
    text-align: right;

    margin-right:700px;
    border-left: 2px solid #b08d61;
    font-size:30px;
    width:615px;

}
body div .r2{
    position:relative;
    top:-120px;
    left:650px;
    text-align: right;

    margin-right:700px;
    border-left: 2px solid #b08d61;
    font-size:30px;
    width:615px;
}
body div .video{



}
.video p{
    text-align: right;
    margin-right:70px;
    font-size: 30px;

}
.video
{
 font-family: "Gaegu Regular";
  color:#DAB991;
}

footer{
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: rgb(72,74,61);
}
footer>div{
    height: 60px;
}
footer>div img{
    width:40px;
    height: 40px;
    margin: 17px;
}
footer ul li{
    font-size: 0.5em;
    height: 10px;;
    color: white;
    display: inline-block;
    padding: 0 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-right: 1px solid white;

}
footer p{
    color:white;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
.i1{
    width:100%;
    height:400px;
    opacity: 0.85
}
.p1{
    width:100%;
    height:80px;

    position:absolute;
    top:533px;
    left:00px;
    color:black;
    font-size:30px;


}
.header_onetext{
    position:absolute;
    top:0px;
}
.i2,.i3,.i4,.i5{
    width:500px;
    height:400px;




}
.v1{
   height:400px;
   width:00px;

}

#di{
      width:1280px;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
      border:1px solid rgb(248,242,228);
    border-top:none;
      background-color: rgb(248,242,228);
}
.line1,.line2,.line3{
    width:100%;
    height:5px;
    border-top:2px solid rgb(72,74,61);
    position:relative;
    left:0px;

}

.vc{
    position: relative;
    bottom:350px;
    left:75px;
    padding-right:10px;
}
.imgbob{
    width:700px;
    height:400px;
    position:relative;
    top:40px;
}

#ov{
    position:relative;
    bottom:170px;
    left:930px;
    font-size:40px;

}
#ov:hover{
    font-size: 50px;
     left:840px;
    color:black;
    background-color:darkgoldenrod;

}

.dot1{
    position: absolute;
    top:100px;
    left:325px;
}
.dot2{
    position: absolute;
    top:100px;
    left:355px;
}

.dot3{
    position: absolute;
    top:100px;
    left:385px;
}
.dot4{
    position: absolute;
    top:100px;
    left:419px;
}
.icon1{
    width:40px;
    height:40px;
    position:absolute;
    top:0px;
    left:631px;
    background-color: #b08d61;
     border-radius: 50px;
}
.icon2{
    width:40px;
    height:40px;
    position:absolute;
    bottom: 1000px;
    left:631px;
    background-color: #b08d61;
    border-radius: 50px;
}
.icon3{
    width:40px;
    height:40px;
    position:absolute;
   top:870px;
    right:595px;
    background-color: #b08d61;
    border-radius: 50px;
}
.icon4{
    width:40px;
    height:40px;
    position:absolute;
   top:630px;
    right:595px;
    background-color: #b08d61;
    border-radius: 50px;
}






