* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

#wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid silver;
    background-color: lightgoldenrodyellow;
}

header {
    width: 100%;
    height: 95px;
    background-color: #DAB991;
}

header > div:nth-child(1) {
    margin: 54px 0 0 5px;
    float: left;
}

header > div:nth-child(2) {
    width: 215px;
    height: 75px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header > div:nth-child(3) {
    margin: 54px 5px 0 0;
    float: right;
    display: inline-block;
}

header > div:nth-child(3) table {
    border-collapse: collapse;
}

header > div:nth-child(3) table tr td {
    padding: 0 10px 0 10px;
}
.header_login ul li{
    font-family: "Gaegu Regular";
    font-weight: bold;
    padding: 0 10px 0 10px;
    border-right: 1px solid #b08d61;
    display: inline-block;
}
.header_login ul li a{

   color:  #4d3c26;
    text-decoration: none;
}

nav {
    background-color: #b08d61;
    height: 80px;
}

nav ul li {
    font-family: "Gaegu Regular";
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
    width: 16.6%;
    text-align: center;
    margin-right: -5px;
    padding: 30px 0 30px 0;
    color:#4d3c26;
}

#location {
    width: 1280px;
    height: 80px;
    margin: auto;
    border-bottom: 2px solid silver;
}

#location h1 {
    float: left;
    margin-top: 30px;
}

#location ul {
    float: right;
    list-style: none;
    margin-top: 60px;
}

#location li {
    float: left;
    padding-right: 11px;
    margin-right: 7px;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -1px;
}

#location li.home a {
    display: block;
    /*width:50px;
            height:24px;*/
    font-size: 15px;
}

#location li a {
    display: block;
    font-size: 15px;
}

#location li.on {
    display: block;
    font-size: 15px;
}

#box {
    width: 1280px;
    height: 200px;
    margin: auto;
}

#box section {
    width: 700px;
    height: 140px;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    border: 2px solid black;
    background-color: papayawhip;
    line-height: 20.0px;
}

#box li {
    font-size: 14px;
}

ul.tab {
    width: 1280px;
    height: 900px;
    margin: auto;
}

.tab > li {
    list-style:none;
}

ul h3 {
    /*background-color: skyblue;*/
    position: absolute;
    float: left;
    width: 422px;
    height: 40px;
    position: relative;
    text-align: center;
    border: 2px solid silver;
}

ul>li>div{
    position: absolute;
    top: 523.5px;
    width: 1280px;
    border: 1px solid silver;
    height: 880px;
    background-color: lightyellow;
}

.tab h3 a {
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
    color: black;
}

#ua img {
    width: 350px;
    height: 210px;
    padding-top: 40px;
    padding-left: 120px;
    padding-right: 50px;
    float: left;
}

#sa {
    padding-top: 55px;
    padding-left: 70px;
    padding-right: 50px;
    float: left;
    line-height: 25.0px;
}
#sa h4{
    color: red;
    font-size: 20px;
}

#sa li{
    list-style: none;
}

#sa img{
    width: 150px;
    height: 30px;
    margin: 0;
    padding: 5px;
}

#ub img{
    width: 350px;
    height: 210px;
    padding-top: 80px;
    padding-left: 110px;
    padding-right: 100px;
    float: right;
}

#sb {
    padding-top: 360px;
    padding-left: 130px;
    padding-right: 50px;
    line-height: 25.0px;
}

#sb h4{
    color: red;
    font-size: 20px;
}

#sb li{
    list-style: none;
}

#sb img{
    width: 150px;
    height: 30px;
    margin: 0;
    padding: 0px;
    float: left;
}

#uc img {
    width: 350px;
    height: 210px;
    padding-top: 90px;
    padding-left: 0px;
    padding-right: 50px;
    margin-left: -150px;
    float: left;
}

#sc {
    padding-top: 110px;
    padding-left: 70px;
    padding-right: 50px;
    float: left;
    line-height: 25.0px;
}
#sc h4{
    color: red;
    font-size: 20px;
}

#sc li{
    list-style: none;
}

#sc img{
    width: 150px;
    height: 30px;
    margin: 0;
    padding: 0px;
    float: left;
}

#ud #h{
    color: chocolate;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 120px;
    /*margin: 10px;*/
}

#ud #a{
    width: 400px;
    height: 240px;
    padding-top: 10px;
    padding-left: 110px;
    padding-right: 100px;
    float: left;
}

#sd td{
     /*border-collapse: collapse;
     width: 500px;
     height: 200px;*/
     border: 2px solid silver;
}

#sd table img{
    width: 166px;
    height: 66px;
}

#sd td{
  border: 2px solid silver;
  /*text-align: left;*/
  /*padding-right: 100px;*/

/*#ud #b{
    width: 350px;
    height: 210px;
    padding-top: 10px;
    padding-left: 110px;
    padding-right: 100px;
    clear: both;
    float: left;
}*/

footer {
    width: 100%;
    height: 200px;
    margin-top: 25px;
    text-align: center;
    background-color: rgb(72, 74, 61);
}

footer > div {
    height: 60px;
}

footer>div img{
    width:40px;
    height: 40px;
    margin: 17px;
}

footer ul li {
    font-size: 0.5em;
    height: 10px;
    ;
    color: white;
    display: inline-block;
    padding: 0 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-right: 1px solid white;

}

footer p {
    color: white;
}

footer ul li a{
    color: white;
    text-decoration: none;
}
