@font-face {
    font-family: BlackAndWhitePicture-Regular;
    src: url(../fonts/Black_And_White_picture/BlackAndWhitePicture-Regular.ttf);
}

@font-face {
    font-family: Gaegu-Bold;
    src: url(../fonts/Gaegu/Gaegu-Bold.ttf);
}

@font-face {
    font-family: Gaegu-Light;
    src: url(../fonts/Gaegu/Gaegu-Light.ttf);
}

@font-face {
    font-family: Gaegu-Regular;
    src: url(../fonts/Gaegu/Gaegu-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

/*----header----*/
header {
    width: 100%;
    height: 95px;
    background-color: #DAB991;
}

header > div:nth-child(1) {
    margin: 54px 0 0 5px;
    float: left;
}

header > div:nth-child(2) {
    width: 215px;
    height: 75px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header_login {
    font-family: "Gaegu-Regular";
    font-weight: bold;
    margin: 54px 5px 0 0;
    float: right;
    display: none;
}

.header_login ul {}

.header_login ul li {
    padding: 0 10px 0 10px;
    border-right: 1px solid #b08d61;
    display: inline-block;
}

.header_login ul li a {
    color: #4d3c26;
    text-decoration: none;
}

/*----header----*/

/*----nav----*/
nav {
    font-family: "Gaegu-Regular";
    font-size: 150%;
    font-weight: bold;
    background-color: #b08d61;
    height: 80px;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
    width: 16.2%;
    text-align: center;
    margin-right: -6px;
    padding: 30px 0 30px 0;
}
nav{
        height: auto;
        background-image: url(/img/aluminous-749358_1920.jpg);
        background-size: 950px;
        background-repeat: no-repeat;
    }

.header_onetext{
        display: none;
    }
    .header_login{
        margin-top: 75px;
        margin-right: 35%;

    }
    nav ul li {
    display: block;
    width: 100%;
    text-align: center;
    margin-right: -6px;
    padding: 30px 0 30px 0;
    background-color: black;
    opacity: 0.7;

}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li:hover {
    background-color: rgb(72,74,61);
     opacity: 1;
}
nav ul li:hover a{
    color: white;
}

/*----nav----*/

/*----footer----*/
footer {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: rgb(72, 74, 61);
    clear: left;
}

footer > div {
    height: 60px;
}

footer > div img {
    width: 40px;
    height: 40px;
    margin: 17px;
}

footer ul li {
    font-family: "Gaegu-Regular";
    font-size: 1em;
    height: 10px;
    ;
    color: white;
    display: inline-block;
    padding: 0 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-right: 1px solid white;

}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer p {
    font-family: "Gaegu-Regular";
    color: white;
}

/*----footer----*/

#out{
   width: 70%;
   height: 2200px;
   border: 1px solid #F8F2E4;
   background-color:#F8F2E4;
   margin: auto;
}

/*#location {
    width: 50%;
    height: 100px;
    margin: auto;
    border-bottom: 2px solid silver;
}

#location h1 {
    float: left;
    margin: auto;
    font-size: 20px;
}*/

#location ul {
    float: right;
    list-style: none;
    margin: auto;
}

location li {
    float: left;
    padding-right: 11px;
    margin: auto;
    font-size: 15px;
    line-height: 13px;
    letter-spacing: -1px;
}

#location li.home a {
    display: block;
    font-size: 15px;
}

#location li a {
    display: block;
    font-size: 15px;
}

#location li.on {
    display: block;
    font-size: 15px;
}*/

box {
    width: 50%;
    height: 350px;
    margin-top: 30px;
    padding-top: 100px;
    padding-bottom: 70px;
}

.box section {
    width: 400px;
    height: 280px;
    margin-top:20px;
    padding: 0px;
    border: 1px solid #DAB991;
    background-color: #DAB991;
    line-height: 20.0px;
}

.box li {
    font-size: 15px;
}

/*.change{
    background-color: yellow;
    font-weight: bold;
    font-size: 25px;
}*/

/*ul.tab {
    width: 600px;
    height: 800px;
    margin: 0 auto;
}*/

#wrap2 {
    width: 400px;
    /*height: 1600px;*/
    /*margin-left:-10px;*/
    border: 1px solid #F8F2E4;
}

tab > li {
    display: inline-block;
}

ul h3 {
    /*background-color: white;
    position: absolute;
    float: left;*/
    display: block;
    width: 100px;
    height: 60px;
    /*position: relative;*/
    /*text-align: center;*/
    border: 2px solid lightyellow;
    font-size: 15px;
}

ul>li>div{
    position: relative;
    top: 100px;
    width: 300px;
    border: 1px solid #F8F2E4;
    height: 1430px;
    background-color: #F8F2E4;
}

.tab h3 a {
    display: none;
    margin-top: 14px;
    text-decoration: none;
    color: black;
}

#ua img {
    width: 200px;
   /* height: 270px;*/
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 30px;
    float: left;
}

#sa {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    line-height: 20.0px;
}
#sa h4{
    color: red;
    font-size: 15px;
}

#sa li{
    list-style: none;
    font-size: 15px;
}

#sa img{
    width: 100px;
    height: 30px;
    margin: 0;
    padding: 5px;
}

#ub img{
    width: 200px;
    /*height: 270px;*/
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    float: right;
}

#sb {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 20.0px;
}

#sb h4{
    color: red;
    font-size: 15px;
}

#sb li{
    list-style: none;
    font-size: 15px;
}

#sb img{
    width: 50%;
    height: 30px;
    margin: 0;
    padding: 0px;
    float: left;
}

#uc img {
    width: 200px;
    /*height: 270px;*/
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    /*margin-left: -150px;*/
    float: left;
}

#sc {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 20.0px;
}
#sc h4{
    color: red;
    font-size: 15px;
}

#sc li{
    list-style: none;
    font-size: 15px;
}

#sc img{
    width: 50%;
    height: 30px;
    margin: 0;
    padding: 0px;
    float: left;
}

#ub-1 img{
    width: 50%;
    height: 270px;
    padding-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
    float: right;
}

#sb-1 {
    padding-top: 540px;
    padding-left: 70px;
    padding-right: 0px;
    line-height: 20.0px;
}

#sb-1 h4{
    color: red;
    font-size: 25px;
}

#sb-1 li{
    list-style: none;
    font-size: 20px;
}

#sb-1 img{
    width: 50%;
    height: 30px;
    margin: 0;
    padding: 0px;
    float: left;
}

#ud #h{
    color: #B08D61;
    font-size: 25px;
    padding-top: 30px;
    padding-left: 120px;
    /*margin: 10px;*/
}

#ud #a{
    width: 50%;
    height: 270px;
    padding-top: 10px;
    padding-left: 120px;
    padding-right: 80px;
    float: left;
}

#sd {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    /*float: right;*/
    line-height: 30.0px;
}

#sd td{
     /*border-collapse: collapse;
     width: 500px;
     height: 200px;*/
     border: 1px solid silver;
    background-color: white;
}

/*#sd table{
    padding-right: 20px;
}*/
#sd table img{
    width: 50%;
    height: 64px;
}

#sd td{
  border: 2px solid silver;
  /*width: 120px;
  height: 50px;*/
  /*text-align: left;*/
  /*padding-right: 100px;*/
}

#sd h4{
    color: red;
    font-size: 25px;
}

#sd li{
    list-style: none;
    font-size: 20px;
}

/*#sd a{
    padding: 100px;
}*/

#sd img{
    width: 50%;
    height: 30px;
    /*padding-top: 500px;*/
    /*padding-top: -250px;*/
    /*padding-left: 90px;*/
   /* margin: 0;*/
    /*padding-left: 50px;*/
    /*float: left;*/
}

#home{
    padding-left: 650px;
}
/*ue*/
#ue #h{
    color: #B08D61;
    font-size: 25px;
    padding-top: 80px;
    padding-right: 120px;
    float: right;
}

#ue #a{
    width: 50%;
    height: 270px;
    position: relative;
    top: 150px;
    right: -290px;
    padding-left: 60px;
    /*padding-right: 60px;*/
    float: right;
}

#se {
    padding-top: 100px;
    padding-left: 115px;
    /*padding-bottom: -50px;*/
    /*padding-right: 50px;*/
    /*float: right;*/
    line-height: 20.0px;
    white-space:nowrap;
}

#se table{
    position: relative;
    top: -50px;
}

#se td{
     /*border-collapse: collapse;
     width: 500px;
     height: 200px;*/
     border: 1px solid silver;
    background-color: white;
}

/*#sd table{
    padding-right: 20px;
}*/
#se table img{
    width: 50%;
    height: 64px;
}

#se td{
  border: 2px solid silver;
  /*width: 120px;
  height: 50px;*/
  /*text-align: left;*/
  /*padding-right: 100px;*/
}

#se h4{
    color: red;
    font-size: 25px;
}

#se li{
    list-style: none;
    font-size: 20px;
}

#se li a{
    position: relative;
    top: -50px;
}

/*#sd a{
    padding: 100px;
}*/

#se img{
    width: 50%;
    height: 30px;
}

#sbox1{
    width: 50%;
    height: 120px;
    border: 1px solid #DAB991;
    margin: auto;
    position: relative;
    top: 350px;
    line-height: 25.0px;
    padding: 10px;
    background-color: #DAB991;
}

#uf figure{
    display: none;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-left: 35px;
    /*margin: auto;*/
}

#uf figcaption{
    text-align: center;
}

#uf #h{
    color: #B08D61;
    font-size: 25px;
    padding-top: 30px;
    padding-left: 120px;
}

.sbox2{
    width: none;
    height: 370px;
    border: 1px solid #DAB991;
    margin: auto;
    margin-top: 15px;
    padding: 20px;
    position: relative;
    top: 40px;
    line-height: 30.0px;
    background-color: #DAB991;
    font-size: 20px;
}
