* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

#wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
    /*background-color: white;*/
    /*border: 1px solid silver;*/
}

header {
    width: 100%;
    height: 95px;
    background-color: #DAB991;
}

header > div:nth-child(1) {
    margin: 54px 0 0 5px;
    float: left;
}

header > div:nth-child(2) {
    width: 215px;
    height: 75px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header > div:nth-child(3) {
    margin: 54px 5px 0 0;
    float: right;
    display: inline-block;
}

header > div:nth-child(3) table {
    border-collapse: collapse;
}

header > div:nth-child(3) table tr td {
    padding: 0 10px 0 10px;
}
.header_login ul li{
    font-family: "Gaegu Regular";
    font-weight: bold;
    padding: 0 10px 0 10px;
    border-right: 1px solid #b08d61;
    display: inline-block;
}
.header_login ul li a{

   color:  #4d3c26;
    text-decoration: none;
}

nav {
    background-color: #b08d61;
    height: 80px;
}

nav ul li {
    font-family: "Gaegu Regular";
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
    width: 19.6%;
    text-align: center;
    margin-right: -5px;
    padding: 30px 0 30px 0;
    color:#4d3c26;
}

nav ul li a{
    text-decoration: none;
    color: #4d3c26;
}

#out{
   width: 1280px;
   height: 1500px;
   border: 1px solid lightyellow;
   background-color:lightyellow;
   margin: auto;
}

#location {
    width: 1280px;
    height: 80px;
    margin: auto;
    border-bottom: 2px solid silver;
}

#location h1 {
    float: left;
    margin-top: 30px;
}

#location ul {
    float: right;
    list-style: none;
    margin-top: 60px;
}

#location li {
    float: left;
    padding-right: 11px;
    margin-right: 7px;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -1px;
}

#location li.home a {
    display: block;
    /*width:50px;
            height:24px;*/
    font-size: 15px;
}

#location li a {
    display: block;
    font-size: 15px;
}

#location li.on {
    display: block;
    font-size: 15px;
}

.box {
    width: 1280px;
    height: 200px;
    margin: auto;
}

.box section {
    width: 800px;
    height: 200px;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    border: 1px solid papayawhip;
    background-color: papayawhip;
    line-height: 20.0px;
}

.box li {
    font-size: 14px;
}

/*.change{
    background-color: yellow;
    font-weight: bold;
    font-size: 25px;
}*/

/*ul.tab {
    width: 1280px;
    height: 800px;
    margin: 0 auto;
}*/

#wrap2 {
    width: 1280px;
    height: 1100px;
    margin: 0 auto;
    border: 1px solid lightyellow;
}

.tab > li {
    list-style:none;
}

ul h3 {
    background-color: white;
    /*position: absolute;*/
    float: left;
    width: 422px;
    height: 60px;
    /*position: relative;*/
    text-align: center;
    border: 2px solid silver;
    font-size: 25px;
}

ul>li>div{
    position: absolute;
    top: 546px;
    width: 1280px;
    border: 1px solid lightyellow;
    height: 1130px;
    background-color: lightyellow;
}

.tab h3 a {
    display: inline-block;
    margin-top: 14px;
    text-decoration: none;
    color: black;
}

#ua img {
    width: 450px;
    height: 270px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 30px;
    float: left;
}

#sa {
    padding-top: 90px;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    line-height: 30.0px;
}
#sa h4{
    color: red;
    font-size: 25px;
}

#sa li{
    list-style: none;
    font-size: 20px;
}

#sa img{
    width: 150px;
    height: 30px;
    margin: 0;
    padding: 5px;
}

#ub img{
    width: 450px;
    height: 270px;
    padding-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
    float: right;
}

#sb {
    padding-top: 460px;
    padding-left: 70px;
    padding-right: 0px;
    line-height: 30.0px;
}

#sb h4{
    color: red;
    font-size: 25px;
}

#sb li{
    list-style: none;
    font-size: 20px;
}

#sb img{
    width: 150px;
    height: 30px;
    margin: 0;
    padding: 0px;
    float: left;
}

#uc img {
    width: 450px;
    height: 270px;
    padding-top: 110px;
    padding-left: 50px;
    padding-right: 30px;
    /*margin-left: -150px;*/
    float: left;
}

#sc {
    padding-top: 170px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    line-height: 30.0px;
}
#sc h4{
    color: red;
    font-size: 25px;
}

#sc li{
    list-style: none;
    font-size: 20px;
}

#sc img{
    width: 150px;
    height: 30px;
    margin: 0;
    padding: 0px;
    float: left;
}

#ud #h{
    color: chocolate;
    font-size: 25px;
    padding-top: 30px;
    padding-left: 120px;
    /*margin: 10px;*/
}

#ud #a{
    width: 450px;
    height: 270px;
    padding-top: 10px;
    padding-left: 120px;
    padding-right: 80px;
    float: left;
}

#sd {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    /*float: right;*/
    line-height: 30.0px;
}

#sd td{
     /*border-collapse: collapse;
     width: 500px;
     height: 200px;*/
     border: 1px solid silver;
    background-color: white;
}

/*#sd table{
    padding-right: 20px;
}*/
#sd table img{
    width: 160px;
    height: 64px;
}

#sd td{
  border: 2px solid silver;
  /*width: 120px;
  height: 50px;*/
  /*text-align: left;*/
  /*padding-right: 100px;*/
}

#sd h4{
    color: red;
    font-size: 25px;
}

#sd li{
    list-style: none;
    font-size: 20px;
}

/*#sd a{
    padding: 100px;
}*/

#sd img{
    width: 150px;
    height: 30px;
    /*padding-top: 500px;*/
    /*padding-top: -250px;*/
    /*padding-left: 90px;*/
   /* margin: 0;*/
    /*padding-left: 50px;*/
    /*float: left;*/
}

#home{
    padding-left: 650px;
}
/*ue*/
#ue #h{
    color: chocolate;
    font-size: 25px;
    padding-top: 50px;
    padding-right: 120px;
    float: right;
}

#ue #a{
    width: 450px;
    height: 270px;
    position: relative;
    top: 100px;
    right: -290px;
    padding-left: 60px;
    /*padding-right: 60px;*/
    float: right;
}

#se {
    padding-top: 100px;
    padding-left: 115px;
    /*padding-bottom: -50px;*/
    /*padding-right: 50px;*/
    /*float: right;*/
    line-height: 30.0px;
    white-space:nowrap;
}

#se table{
    position: relative;
    top: -50px;
}

#se td{
     /*border-collapse: collapse;
     width: 500px;
     height: 200px;*/
     border: 1px solid silver;
    background-color: white;
}

/*#sd table{
    padding-right: 20px;
}*/
#se table img{
    width: 160px;
    height: 64px;
}

#se td{
  border: 2px solid silver;
  /*width: 120px;
  height: 50px;*/
  /*text-align: left;*/
  /*padding-right: 100px;*/
}

#se h4{
    color: red;
    font-size: 25px;
}

#se li{
    list-style: none;
    font-size: 20px;
}

#se li a{
    position: relative;
    top: -50px;
}

/*#sd a{
    padding: 100px;
}*/

#se img{
    width: 150px;
    height: 30px;
}

#sbox1{
    width: 600px;
    height: 120px;
    border: 1px solid papayawhip;
    margin: auto;
    position: relative;
    top: -30px;
    line-height: 25.0px;
    padding: 10px;
    background-color: papayawhip;
}

#uf figure{
    display: inline-block;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-left: 35px;
    /*margin: auto;*/
}

#uf figcaption{
    text-align: center;
}

#uf #h{
    color: chocolate;
    font-size: 25px;
    padding-top: 30px;
    padding-left: 120px;
}

#sbox2{
    width: 1000px;
    height: 250px;
    border: 1px solid papayawhip;
    margin: auto;
    padding: 20px;*/
    position: relative;
    top: 50px;*/
    line-height: 25.0px;
    background-color: papayawhip;
}

/*#uf{
    display: inline-block;
}*/
/*----footer----*/
footer{
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: rgb(72,74,61);
}
footer>div{
    height: 60px;
}
footer>div img{
    width:40px;
    height: 40px;
    margin: 17px;
}
footer ul li{
    font-family: "Gaegu Regular";
    font-size: 1em;
    height: 10px;;
    color: white;
    display: inline-block;
    padding: 0 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-right: 1px solid white;

}
footer ul li a{
    color: white;
    text-decoration: none;
}
footer p{
    font-family: "Gaegu Regular";
    color:white;
}
    /*----footer----*/
